@use "./partials/global" as *;
@use "./partials/typography" as *;
@use "./partials/colors" as *;
@use "./partials/breakpoints" as *;
@use "./partials/mixins" as *;

.navigation {
  // mobile
  background-color: $black;
  display: flex;
  flex-direction: column;

  // tablet
  @include tablet {
    display: flex;
    flex-direction: row;
  }


  &__logo {
    // mobile
    width: 30%;
    margin: auto;
    margin-top: 1.25rem;
    margin-left: 7.5rem;


    // tablet
    @include tablet {
      margin: 2rem 2rem 0 3rem;
      width: 80%;
    }

    // desktop
    @include desktop {
      width: 80%;
      padding-left: 6rem;
      margin-top: 2.5rem;
    }
  }

  &__sub {
    // mobile
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem 0 0;

    // tablet
    @include tablet {
      padding: 2.5rem 5rem 0 0;
    }

  }

  &__tab {
    text-decoration: none;
    padding-left: 3rem;
    padding-bottom: 2rem;
    color: $mercury;

    @include desktop {
      padding-bottom: 2rem;
    }
  }

  &__tab--active {
    // mobile
    color: $white;
    font-weight: 700;
    border-bottom: 3px solid $white;
    padding-right: 2rem;


    // tablet
    @include tablet {
      padding-right: 0;
      padding-left: 0;
      margin-left: 3rem;
    }


  }

  a:visited {
    color: $white;
  }

}


// mobile
.hero {
  display: flex;
  height: 40vh;
  min-width: 100%;
  position: relative;
  background-size: cover;
  background-image: url(../assets/images/hero-bio.jpg);


  //tablet
  @include tablet {
    height: 90vh;
    min-width: 100%;
  }

  &__opacity {
    position: absolute;
    background-color: $black;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;

  }

  // mobile
  &__title {
    // position: relative;
    padding: 5.5rem 0 1rem 1rem;
    color: $white;
    z-index: 1;

    @include mobile-bold;

    // tablet
    @include tablet {
      padding-top: 12rem;
      padding-left: 3rem;
      @include large-header;
    }

    // desktop
    @include desktop {
      padding-left: 9rem;
      padding-top: 15rem;
      @include large-header;
    }
  }

}


// mobile
.header {
  @include mobile-bold;
  padding: 1.5rem 0 0 1rem;

  // tablet
  @include tablet {
    @include large-section;
    padding: 3rem 2.25rem 1rem 3rem;
  }

  // desktop
  @include desktop {
    @include large-section;
    padding-bottom: 3rem;
    padding-left: 9rem;
  }

  // mobile
  &__img {
    max-width: 100%;
    height: auto;
    padding: 1rem;

    // tablet
    @include tablet {
      padding: 0 6.5rem 0 6.5rem;
    }

    // desktop
    @include desktop {
      padding-left: 15rem;
      padding-right: 15rem;
    }
  }

  // mobile
  &__quote {
    @include mobile-subheader;
    padding: 0 1rem;


    // tablet
    @include tablet {
      @include large-subheader;
      padding: 1rem 6.5rem 0 6.5rem;
    }

    // desktop
    @include desktop {
      padding-left: 15rem;
      padding-right: 32rem;
    }
  }


  // mobile
  &__subheader {
    padding: 1rem 0 1rem 1rem;
    @include mobile-subheader;



    // tablet
    @include tablet {
      @include large-subheader;
      padding-top: 2.25rem;
      padding-left: 6.5rem;
    }

    // desktop
    @include desktop {
      @include large-subheader;
      padding-left: 15rem;

    }
  }

  // mobile
  &__body {
    @include mobile-body;
    padding: 0 0.5rem 1rem 0.5rem;


    // tablet
    @include tablet {
      display: flex;
      justify-content: space-around;
      padding-left: 2.5rem;
      padding-right: 2rem;
    }

    // desktop
    @include desktop {
      padding-left: 11rem;
      padding-right: 10rem;

    }
  }

  // mobile
  &__body--paragraph1 {
    padding-bottom: 1rem;
    color: $black;

    // tablet
    @include tablet {
      padding-top: 1rem;
      padding-right: 1rem;
      padding-left: 4rem;
      @include large-body;
    }
  }

  &__body--paragraph2 {
    padding-bottom: 1rem;

    // tablet
    @include tablet {
      padding-top: 1rem;
      padding-right: 6.25rem;
      padding-left: 1rem;
      @include large-body;
    }
  }

}

.gallery {
  background-color: $alabaster;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  // mobile
  &__header {

    padding: 1.5rem 8rem 1rem 1.25rem;
    @include mobile-bold;

    // tablet
    @include tablet {
      @include large-section;
      padding: 3rem 0 2.25rem 2.25rem;
    }

    // desktop
    @include desktop {
      padding-left: 9rem;
    }
  }

  &__container {
    @include tablet {
      padding: 0 0.75rem 1rem 1rem;
    }

    @include desktop {
      padding-left: 8rem;
      padding-right: 8rem;
    }
  }

  &__img {
    max-width: 100%;
    height: auto;
    padding: 0 1.5rem 1.5rem 1.5rem;

    @include tablet {
      width: 33%;
      padding: 0 1rem 1rem 1rem;
    }
  }

}

// mobile


.conversation__header {
  font-size: 1.5rem;
  font-weight: 700;
  color: $black;
  line-height: 2rem;
  padding: 1.5rem 0 1rem 2rem;


  @include tablet {
    @include large-section;

  }

  @include desktop {
    padding: 3rem 0 2rem 9rem;
  }
}

// mobile
.conversation__text {
  display: flex;
  justify-content: center;

  @include tablet {
    justify-content: flex-start;
    margin-left: 5rem;
  }

  @include desktop {
    margin-left: 26rem;

  }
}



#form {

  @include tablet {
    margin-bottom: 5rem;
  }
}

// mobile
.conversation__text--avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-left: 1rem;
  margin-top: 1.375rem;
}

.conversation__container {
  margin-left: 1rem;
  padding-right: 1rem;

  @include tablet {
    position: relative;

  }

}

.conversation__text--label {
  text-transform: uppercase;
  color: #AFAFAF;
  padding-bottom: .25rem;
  justify-content: flex-start;
  font-size: .625rem;
  font-weight: 700;
  line-height: 1.25rem;

  @include tablet {
    font-size: .75rem;
  }

  @include desktop {
    margin-left: 0;
  }

}

.conversation__text--name {
  width: 12rem;
  height: 2.25rem;
  border-radius: .25rem;
  padding-left: .75rem;
  margin-bottom: 1.5rem;
  border: 1px solid $mercury;
  text-align: left;
  resize: none;

  @include tablet {
    width: 31rem;
    margin-left: 0;
    width: 36.25rem;

  }

  @include desktop {
    width: 31rem;
  }
}


.conversation__text--comment {

  height: 7rem;
  border-radius: .25rem;
  padding: .75rem;
  margin-bottom: 1rem;
  border: 1px solid $mercury;
  resize: none;

  @include tablet {
    margin-left: 0;
    width: 36.25rem;
  }

  @include desktop {
    width: 31rem;
  }
}

::placeholder {
  color: $black;
  font-size: 1rem;
  font-weight: 400;
  font-family: AvenirNext;

}

.conversation__button {
  height: 2.5rem;
  width: 100%;
  background-color: $black;
  color: $white;
  text-transform: uppercase;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  border: 0;

  @include tablet {
    width: 9.375rem;
    position: absolute;
    top: 220px;
    right: 15px;
    margin-top: 1.5rem;
  }
}


.comments__box {
  display: flex;
  justify-content: center;
  border-top: 1px solid $mercury;
  padding-top: 2rem;
  height: 17rem;
  margin-left: 1rem;
  margin-right: 1rem;

  @include tablet {
    margin-left: 6rem;
    margin-right: 7rem;
    height: 10rem;
  }

  @include desktop {
    margin-left: 27rem;
    margin-right: 27rem;

  }
}

.comments__box--avatar {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  background-color: $mercury;
  margin-left: .5rem;
  padding-right: 2.25rem;

  @include tablet {
    margin-left: 0;
  }
}

.comments__box--paragraph {
  font-size: .8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  padding-bottom: 1rem;
  padding-left: 1.75rem;

}

.comments__box--name {
  margin-bottom: 1rem;
  font-weight: 700;
}

.comments__box--text {
  padding-top: 1rem;
  font-size: 13px;
  line-height: 1.125rem;
}


.comments__box--date {
  font-size: .8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: $mercury;
  padding-right: 0;


  @include tablet {
    padding-right: 0;
  }
}

.footer {
  background-color: $black;
  color: $white;

  @include tablet {
    position: relative;

  }

  // tablet
  &__container {
    @include tablet {
      display: flex;
      justify-content: flex-start;
      padding-left: 0;
    }

    // desktop
    @include desktop {
      padding-top: 2rem;
      padding-left: 7rem;
    }
  }

  // mobile
  &__container--title {
    @include mobile-bold;
    padding: 1.5rem 0 1rem 1rem;

    // tablet
    @include tablet {
      @include large-section;
      padding-left: 2.25rem;
      padding-top: 3rem;
    }

    @include desktop {
      padding-top: 2rem;
    }
  }

  // mobile
  &__social {
    padding: .5rem 0 .5rem 1rem;

    // tablet
    @include tablet {
      padding: 4rem 0 0 2.25rem;
    }

    @include desktop {
      padding-top: 2.85rem;
      padding-left: 3rem;
    }
  }

  &__icon {
    padding-right: 1.5rem;
  }

  // mobile
  &__contact {
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;


    // tablet
    @include tablet {
      display: flex;
      padding-left: 2.25rem;
    }

    // desktop
    @include desktop {
      padding-bottom: 2rem;
      padding-left: 9rem;
    }
  }

  &__contact--name {
    padding-bottom: 1rem;
    padding-left: 0;
    @include mobile-body;


    // tablet
    @include tablet {
      display: flex;
      flex-direction: column;
      padding-right: 5rem;
      @include large-footer;
    }

  }

  &__contact--bold {
    padding-bottom: 1rem;
    padding-left: 0;
    font-size: 0.8125rem;
    font-weight: 600;
    line-height: 1.125rem;

    // tablet
    @include tablet {
      display: flex;
      flex-direction: column;
      padding-right: 5rem;
      @include large-footer;
    }
  }

  &__contact--logo {
    padding-top: 4rem;

    @include tablet {
      position: absolute;
      top: 0;
      right: 2.0625rem;
      padding-top: 4rem;
    }

    // desktop
    @include desktop {
      padding-top: 4rem;
      right: 10rem;
    }
  }
}


span {
  text-transform: uppercase;
}