@use "./partials/global" as *;
@use "./partials/typography" as *;
@use "./partials/colors" as *;
@use "./partials/breakpoints" as *;
@use "./partials/mixins" as *;

.navigation {
  // mobile
  background-color: $black;
  display: flex;
  flex-direction: column;

  // tablet
  @include tablet {
    display: flex;
    flex-direction: row;
  }
}

.navigation__logo {
  // mobile
  width: 30%;
  margin: auto;
  margin-top: 1.25rem;

  // tablet
  @include tablet {
    margin-left: 3rem;
    padding-bottom: 2rem;
    padding-top: 0.5rem;
    margin-right: 0;
    width: 20%;
  }
  // desktop
  @include desktop{
    width: 15%;
    padding-left: 7rem;
   margin-bottom: -1.5rem;
  }
}

.navigation__sub {
  // mobile
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem 0 0;

  // tablet
  @include tablet {
    padding: 2.5rem 5rem 0 0;
  }
}

.navigation__tab {
  text-decoration: none;
  padding-left: 3rem;
  padding-bottom: 1rem;
  color: $mercury;
  
}

.navigation__tab--active {
  // mobile
  color: $white;
  font-weight: 700;
  border-bottom: 3px solid $white;
  padding-right: 2rem;

  // tablet
  @include tablet {
    padding-right: 0;
    padding-left: 0;
    margin-left: 3rem;
  }

}

a:visited {
  color: $white;
}

// mobile
.hero {
  background-image: url(../Assets/Images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  min-width: 100vw;
  display: flex;
  height: 40vh;
  position: relative;

  .hero__overlay{
    width: 100%;
    height: 100%;
    background: $black;
    opacity: 0.5;
    position: absolute;
  }

  //tablet
  @include tablet {
    height: 100vh;
    min-width: 100%;
  }
}

// mobile
.hero__title {
  padding: 5.5rem 0 1rem 1rem;
  color: $white;
  @include mobile-bold;
  
  
  // tablet
  @include tablet {
    padding-top: 15rem;
    padding-left: 3rem;
    @include large-header;
}
  
  // desktop
  @include desktop {
    padding-left: 10rem;
    @include large-header;
    
  }

}

// mobile
.header {
  @include mobile-bold;
  padding: 1.5rem 0 0 1rem;

  // tablet
  @include tablet {
    @include large-section;
    padding: 3rem 2.25rem 1rem 3rem;
  }

  // desktop
  @include desktop{
    @include large-section;
    padding-bottom: 3rem;
    padding-left: 9rem;
  }
}

// mobile
.header__img {
  max-width: 100%;
  height: auto;
  padding-right: 1rem;
  
  // tablet
  @include tablet {
    padding: 0 6.5rem 0 6.5rem;
  }

  // desktop
  @include desktop{
    padding-left: 12rem;
    padding-right: 12rem;
  }
}

// mobile
.header__quote {
  @include mobile-subheader;
  padding-right: 1rem;
  
  
  // tablet
  @include tablet {
    @include large-subheader;
    padding: 1rem 6.5rem 0 6.5rem;
  }

  // desktop
  @include desktop{
    padding-left: 12rem;
    padding-right: 32rem;
  }
}


// mobile
.header__subheader {
  padding: 1rem 0 1rem 1rem;
  @include mobile-subheader;

  // tablet
  @include tablet {
    @include large-subheader;
    padding-top: 2.25rem;    
    padding-left: 6.5rem; 
  }

  // desktop
  @include desktop{
    @include large-subheader;
    padding-left: 12rem;
  }
}

// mobile
.header__body {
  @include mobile-body;
  padding: 0 0.5rem 1rem 0.5rem;
  

  // tablet
  @include tablet {
    display: flex;
    justify-content:space-around;
    padding-left: 2.5rem;
    padding-right: 2rem;    
  }

  // desktop
  @include desktop{
    padding-left: 8rem;
    padding-right: 10rem;
  
  }
}


// mobile
.header__body--paragraph1 {
  padding-bottom: 1rem;

  // tablet
  @include tablet {
    padding-top: 1rem;
    padding-right: 6.25rem;
    padding-left: 4rem;
    @include large-body;
  }
}

.header__body--paragraph2 {
  padding-bottom: 1rem;

  // tablet
  @include tablet {
    padding-top: 1rem;
    padding-right: 6.25rem;
    padding-left: 1rem;
    @include large-body;
  }
}

.gallery {
  background-color: $alabaster;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}

// mobile
.gallery__header {
  padding: 1.5rem 8rem 1rem 1rem;
  @include mobile-bold;

  // tablet
  @include tablet {
    @include large-section;
    padding: 3rem 0 2.25rem 2.25rem;
  }

  // desktop
  @include desktop{
    padding-left: 9rem;
  }
}

.gallery__container{
    @include tablet{
      padding: 0 0.75rem 1rem 1rem;
    
    }

    @include desktop{
      padding-left: 8rem;
      padding-right: 8rem;
    }

}

.gallery__img {
  max-width: 100%;
  height: auto;
  padding: 0 1rem 1rem 1rem;

  @include tablet {
    width: 33%;
    
  }
}

.footer {
  background-color: $black;
  color: $white;

  @include tablet{
    position: relative;

  }

}

// tablet
.footer__container {
  @include tablet {
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
  }
  // desktop
  @include desktop{
    padding-top: 2rem;
    padding-left: 7rem;
  }
}

// mobile
.footer__container--heading {
  @include mobile-bold;
  padding: 1.5rem 0 1rem 1rem;

  // tablet
  @include tablet {
    @include large-section;
    padding-left: 2.25rem;
  }
}

// mobile
.footer__social {
  padding: 0 0 1rem 1rem;

  // tablet
  @include tablet {
    padding: 2.25rem 0 0 2.25rem;
  }
}

.footer__icon {
  padding-right: 1.5rem;
}

// mobile
.footer__contact {
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;

  // tablet
  @include tablet {
    display: flex;
    padding-left: 2.25rem;
  
  }

  // desktop
  @include desktop{
    padding-bottom: 2rem;
    padding-left: 9rem;
  }
}

.footer__contact--name {
  padding-bottom: 1rem;
  padding-left: 0;
  @include mobile-body;

// tablet
  @include tablet{
    display: flex;
    flex-direction: column;
    padding-right: 5rem;
    @include large-footer;
  }
}

span {
  text-transform: uppercase;
}

.footer__contact--logo {
  padding-top: 4rem;

  @include tablet{
    position: absolute;
    top: 0;
    right: 2.0625rem;
    padding-top: 2rem;  
  }

// desktop
@include desktop{
  padding-top: 4rem;
  right: 10rem;
}

}
