*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  font-family: "Avenir", sans-serif;
  max-width: 100%;
}

@font-face {
  font-family: "Avenir";
  src: url("/Assets/Font/Alternative files/AvenirNextLTPro-Regular.woff2") format("woff2"), url("/Assets/Font/Alternative files/AvenirNextLTPro-Regular.woff") format("woff"), url("/Assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Avenir";
  src: url("/Assets/Font/Alternative files/AvenirNextLTPro-Bold.woff2") format("woff2"), url("/Assets/Font/Alternative files/AvenirNextLTPro-Bold.woff") format("woff"), url("/Assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-style: bold;
}
@font-face {
  font-family: Avenir;
  src: url("/Assets/Font/Alternative files/AvenirNextLTPro-Demi.woff2") format("woff2"), url("/Assets/Font/Alternative files/AvenirNextLTPro-Demi.woff") format("woff"), url("/Assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: demi;
}
.navigation {
  background-color: #323232;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .navigation {
    display: flex;
    flex-direction: row;
  }
}

.navigation__logo {
  width: 30%;
  margin: auto;
  margin-top: 1.25rem;
}
@media (min-width: 768px) {
  .navigation__logo {
    margin-left: 3rem;
    padding-bottom: 2rem;
    padding-top: 0.5rem;
    margin-right: 0;
    width: 20%;
  }
}

.navigation__sub {
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem 0 0;
}
@media (min-width: 768px) {
  .navigation__sub {
    padding: 2.5rem 5rem 0 0;
  }
}

.navigation__tab {
  text-decoration: none;
  padding-left: 3rem;
  padding-bottom: 1rem;
  color: #e1e1e1;
}

.navigation__tab--active {
  color: #ffffff;
  font-weight: 700;
  border-bottom: 3px solid #ffffff;
  padding-right: 2rem;
}
@media (min-width: 768px) {
  .navigation__tab--active {
    padding-right: 0;
    padding-left: 0;
    margin-left: 3rem;
  }
}

a:visited {
  color: #ffffff;
}

.hero {
  background-image: url(../Assets/Images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  min-width: 100vw;
  display: flex;
  height: 40vh;
  position: relative;
}
.hero .hero__overlay {
  width: 100%;
  height: 100%;
  background: #323232;
  opacity: 0.5;
  position: absolute;
}
@media (min-width: 768px) {
  .hero {
    height: 100vh;
    min-width: 100%;
  }
}

.hero__title {
  padding: 1.5rem 0 1rem 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  color: #ffffff;
  padding-top: 5.5rem;
}
@media (min-width: 768px) {
  .hero__title {
    padding-top: 15rem;
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    padding-left: 3rem;
  }
}

.header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding: 1.5rem 0 0 1rem;
}
@media (min-width: 768px) {
  .header {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.75rem;
    padding: 3rem 2.25rem 1rem 3rem;
  }
}

.header__img {
  max-width: 100%;
  height: auto;
  padding-right: 1rem;
}
@media (min-width: 768px) {
  .header__img {
    padding: 0 6.5rem 0 6.5rem;
  }
}

.header__quote {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
  padding-right: 1rem;
}
@media (min-width: 768px) {
  .header__quote {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    padding: 1rem 6.5rem 0 6.5rem;
  }
}

.header__subheader {
  padding: 1rem 0 1rem 1rem;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
}
@media (min-width: 768px) {
  .header__subheader {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    padding-top: 2.25rem;
    padding-left: 6.5rem;
  }
}

.header__body {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  padding: 0 0.5rem 1rem 0.5rem;
}
@media (min-width: 768px) {
  .header__body {
    display: flex;
    justify-content: space-around;
    padding-left: 2.5rem;
    padding-right: 2rem;
  }
}

.header__body--paragraph1 {
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .header__body--paragraph1 {
    padding-top: 1rem;
    padding-right: 6.25rem;
    padding-left: 4rem;
    font-style: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
  }
}

.header__body--paragraph2 {
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .header__body--paragraph2 {
    padding-top: 1rem;
    padding-right: 6.25rem;
    padding-left: 1rem;
    font-style: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
  }
}

.gallery {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .gallery {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}

.gallery__header {
  padding: 1.5rem 8rem 1rem 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}
@media (min-width: 768px) {
  .gallery__header {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.75rem;
    padding: 3rem 0 2.25rem 2.25rem;
  }
}

@media (min-width: 768px) {
  .gallery__container {
    padding: 0 0.75rem 1rem 1rem;
  }
}

.gallery__img {
  max-width: 100%;
  height: auto;
  padding: 0 1rem 1rem 1rem;
}
@media (min-width: 768px) {
  .gallery__img {
    width: 33%;
  }
}

.footer {
  background-color: #323232;
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  .footer {
    position: relative;
  }
}

@media (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
  }
}

.footer__container--heading {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  padding: 1.5rem 0 1rem 1rem;
}
@media (min-width: 768px) {
  .footer__container--heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-left: 2.25rem;
  }
}

.footer__social {
  padding: 0 0 1rem 1rem;
}
@media (min-width: 768px) {
  .footer__social {
    padding: 2.25rem 0 0 2.25rem;
  }
}

.footer__icon {
  padding-right: 1.5rem;
}

.footer__contact {
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
}
@media (min-width: 768px) {
  .footer__contact {
    display: flex;
    padding-left: 2.25rem;
  }
}

.footer__contact--name {
  padding-bottom: 1rem;
  padding-left: 0;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  .footer__contact--name {
    display: flex;
    flex-direction: column;
    padding-right: 5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

span {
  text-transform: uppercase;
}

.footer__contact--logo {
  padding-top: 4rem;
}
@media (min-width: 768px) {
  .footer__contact--logo {
    position: absolute;
    top: 0;
    right: 2.0625rem;
    padding-top: 2rem;
  }
}/*# sourceMappingURL=bio.css.map */