*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  font-family: "AvenirNext", sans-serif;
  max-width: 100%;
}

@font-face {
  font-family: "AvenirNext";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
}
.navigation {
  background-color: #323232;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .navigation {
    display: flex;
    flex-direction: row;
  }
}
.navigation__logo {
  width: 30%;
  margin: auto;
  margin-top: 1.25rem;
  margin-left: 7.5rem;
}
@media (min-width: 768px) {
  .navigation__logo {
    margin: 2rem 2rem 0 3rem;
    width: 80%;
  }
}
@media (min-width: 1280px) {
  .navigation__logo {
    width: 80%;
    padding-left: 6rem;
    margin-top: 2.5rem;
  }
}
.navigation__sub {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 0 0;
}
@media (min-width: 768px) {
  .navigation__sub {
    padding: 2.5rem 5rem 0 0;
  }
}
.navigation__tab {
  text-decoration: none;
  padding-left: 3rem;
  padding-bottom: 2rem;
  color: #e1e1e1;
}
@media (min-width: 1280px) {
  .navigation__tab {
    padding-bottom: 2rem;
    margin-right: 0;
  }
}
.navigation__tab--active {
  color: #ffffff;
  font-weight: 700;
  border-bottom: 3px solid #ffffff;
  padding-right: 3.25rem;
  margin-left: 2.75rem;
}
@media (min-width: 768px) {
  .navigation__tab--active {
    padding-right: 0;
    padding-left: 0;
    margin-left: 3rem;
  }
}
.navigation a:visited {
  color: #ffffff;
}

.hero {
  width: 100%;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../Assets/Images/hero-shows.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 1280px) {
  .hero {
    display: flex;
    justify-content: space-around;
    height: 100vh;
  }
}
.hero__text {
  padding-left: 0.5rem;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .hero__text {
    padding-left: 1.5rem;
    padding-top: 2rem;
  }
}
@media (min-width: 1280px) {
  .hero__text {
    display: flex;
    flex-direction: column;
    padding-left: 8rem;
    padding-top: 13rem;
    padding-bottom: 2rem;
  }
}
.hero__text--album {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 400;
  padding: 1.5rem 0 1.5rem 0.5rem;
}
@media (min-width: 768px) {
  .hero__text--album {
    padding-left: 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
  }
}
.hero__text--title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #ffffff;
  padding: 0 6rem 2rem 0.5rem;
}
@media (min-width: 768px) {
  .hero__text--title {
    padding-bottom: 2.5rem;
    padding: 0 15rem 2.5rem 1rem;
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
}
@media (min-width: 1280px) {
  .hero__text--title {
    padding-right: 14rem;
    padding-top: 0;
    padding-bottom: 8rem;
  }
}
.hero__song {
  height: 140px;
  padding: 0 1rem 1.5rem 1rem;
  border-radius: 4px;
}
@media (min-width: 768px) {
  .hero__song {
    width: 60%;
    height: 170px;
    padding-left: 3rem;
    padding-bottom: 3rem;
  }
}
@media (min-width: 1280px) {
  .hero__song {
    width: 100%;
    height: 230px;
    margin-top: 20rem;
    margin-right: 30rem;
  }
}

#wrapper {
  padding-left: 1rem;
}
@media (min-width: 1280px) {
  #wrapper {
    padding-left: 7.5rem;
    padding-right: 7rem;
  }
}
#wrapper .shows__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  padding: 1.5rem 0 1rem 0;
}
@media (min-width: 768px) {
  #wrapper .shows__title {
    margin-left: 2rem;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.75rem;
  }
}
@media (min-width: 1280px) {
  #wrapper .shows__title {
    padding-top: 2rem;
  }
}
#wrapper .shows__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0;
  padding-bottom: 0.5rem;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  border-bottom: 1px solid #e1e1e1;
}
@media (min-width: 768px) {
  #wrapper .shows__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 1.75rem;
    font-size: 1rem;
  }
}
@media (min-width: 1280px) {
  #wrapper .shows__container {
    margin-left: 15rem;
  }
}
#wrapper .shows__container--active {
  background-color: #e1e1e1;
}
#wrapper .shows__container:hover {
  background-color: #fafafa;
}
#wrapper .shows__info {
  padding-left: 0;
  padding-bottom: 0.75rem;
}
#wrapper .shows__labels {
  display: none;
}
@media (min-width: 768px) {
  #wrapper .shows__labels {
    display: flex;
    justify-content: space-between;
    padding-right: 21rem;
    padding-left: 2rem;
  }
}
@media (min-width: 1280px) {
  #wrapper .shows__labels {
    width: 0;
    margin-left: 15rem;
  }
}
#wrapper .shows__info--label {
  text-transform: uppercase;
  color: #e1e1e1;
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
  padding-bottom: 0;
}
@media (min-width: 768px) {
  #wrapper .shows__info--label {
    font-size: 0.75rem;
    line-height: 20px;
  }
}
@media (min-width: 1280px) {
  #wrapper .shows__info--label {
    padding-right: 13rem;
  }
}
#wrapper .shows__info--label-hide {
  text-transform: uppercase;
  color: #e1e1e1;
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
  padding-bottom: 0;
}
@media (min-width: 768px) {
  #wrapper .shows__info--label-hide {
    display: none;
  }
}
#wrapper .shows__info--date {
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  padding-bottom: 0;
}
@media (min-width: 768px) {
  #wrapper .shows__info--date {
    font-size: 1rem;
  }
}
#wrapper .shows__button {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0.5rem 6rem;
  background-color: #323232;
  border-radius: 4px;
  color: #ffffff;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  #wrapper .shows__button {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.footer {
  background-color: #323232;
  color: #ffffff;
}
@media (min-width: 768px) {
  .footer {
    position: relative;
  }
}
@media (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
  }
}
@media (min-width: 1280px) {
  .footer__container {
    padding-top: 2rem;
    padding-left: 7rem;
  }
}
.footer__container--title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  padding: 1.5rem 0 1rem 1rem;
}
@media (min-width: 768px) {
  .footer__container--title {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.75rem;
    padding-left: 2.25rem;
  }
}
.footer__social {
  padding: 0 0 1rem 1rem;
}
@media (min-width: 768px) {
  .footer__social {
    padding: 2.25rem 0 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer__social {
    padding-left: 3.25rem;
  }
}
.footer__icon {
  padding-right: 1.5rem;
}
.footer__contact {
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
}
@media (min-width: 768px) {
  .footer__contact {
    display: flex;
    padding-left: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer__contact {
    padding-bottom: 2rem;
    padding-left: 9rem;
  }
}
.footer__contact--name {
  padding-bottom: 1rem;
  padding-left: 0;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  .footer__contact--name {
    display: flex;
    flex-direction: column;
    padding-right: 5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}

span {
  text-transform: uppercase;
}

.footer__contact--logo {
  padding-top: 4rem;
}
@media (min-width: 768px) {
  .footer__contact--logo {
    position: absolute;
    top: 0;
    right: 2.0625rem;
    padding-top: 2rem;
  }
}
@media (min-width: 1280px) {
  .footer__contact--logo {
    padding-top: 4rem;
    right: 10rem;
  }
}/*# sourceMappingURL=shows.css.map */