// Regular

@font-face {
  font-family: "AvenirNext";

  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf");

  font-weight: 400;
}

// Bold

@font-face {
  font-family: "AvenirNext";

  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf");

  font-weight: 700;
}

//Demi

@font-face {
  font-family: "AvenirNext";

  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf");

  font-weight: 600;
}